extends template.pug 

block content 
    section.home 
        .homecontent
            .row2
                .row
                    img.sisa(src="/img/Model.jpg", alt="image")
                .dua
                    .hai 
                        //- h1 #{title} Me !
                        i.bx.bx-happy #{title} Me! 
                    .jenisjenis
                        h3.jenis My Hobbies 
                            .items -
                                i.bx.bx-dumbbell Fitness
                            .items -
                                i.bx.bxs-droplet Swimming 

                    .jenisjenis
                        h3.jenis My Work Experiences
                            .items -
                                i.bx.bx-code WEKODE Teacher 
                            .items  -
                                i.bx.bxs-home-circle Furniture Store 
                            .items -
                                i.bx.bxs-face Freelance Model

                
                .row
                    .jenis-jenis
                        h2.MyCoding My Coding Skills:
                        ul 
                            li.items 
                                i.bx.bxl-c-plus-plus C / C++:  6
                            li.items 
                                i.bx.bxl-python Python: 4
                            li.items 
                                i.bx.bxl-html5 Html: 6
                            li.items 
                                i.bx.bxl-css3 CSS:  6
                            li.items 
                                i.bx.bxl-javascript Javascript:    6

                                                    
