extends template.pug 


block content 
    section.home 
        .homecontent
            .row2
                .row
                    img.sisa(src="/img/WA1.jpeg", alt="image")
                    img.sisa(src="/img/WA2.jpeg", alt="image")
                .contact-text
                    .hai
                        h3 #{title}
  
                    .items
                        i.bx.bxl-whatsapp Whatsapp 081312266865
                    .items  
                        i.bx.bxl-google kevinaxelskywalker@gmail.com
                    .items  
                        h3.jenis LINE kevinaxel.
                    

                        


    