extends template.pug 

block content 
    section.home 
        .homecontent
            .rowHome
                .one
                    img.profil(src="img/Blue.jpg", alt="image")
                .two
                    h2.pengenalan Hello, My name is Kevin Axel 
                    h3.jurusan Computer Science, Internet of Things (IoT)
                    <p>     My major is Computer Science and i'm streaming on IoT on Binus University</p>
                    <p>     Now i'm taking an internship in Samsung Research Indonesia for 12 months</p>

                