extends template.pug 

block content 
    section.homeporto 
        .homeportocontent
            h1.hai Welcome to my #{title} Page!
            
            h3 Look some of My Projects on Github! And also CV, and Drives Portofolio!
            .githubs
                a(href="https://github.com/KevinAxelN/" target="_blank" )
                    i.bx.bxl-github
                a(href="https://drive.google.com/file/d/1Q5tfiKAdxIfNlu4DJtV2lrWSJZar2Wi1/view?usp=sharing" target="_blank" )
                    i.bx.bxs-paste
                a(href="https://drive.google.com/drive/folders/1MDpzL6D_ChZ_J8GBreVuZYJLe1xvFR0v?usp=sharing" target="_blank" )
                    i.bx.bxs-hdd