doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Web Porto Kevin Axel
        link(rel="stylesheet", href="css/style.css")
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        //- script(type='text/javascript', src="script.js")

    body.body
        header.header
            a.nama(href="#") Kevin Axel 
            nav.bar   
                a#pilihan.aktif(href="/") Home 

                a#pilihan(href="/about") About

                a#pilihan(href="/contact") Contact

                a#pilihan(href="/porto") Portofolio

                //- -aa = 5*5
                //- h2=2*aa
                
                

                //- -let sections = document.querySelectorAll("section");
                //- -let navLinks = document.querySelectorAll("header nav a pilihan");

                //- -navLinks.forEach((navlinkEl) => {
                //- -navlinkEl.addEventListener("click", () => {
                //- -    navlinkEl.classList.add("aktif");
                //- -});
                //- -});

        block content
        
        .linkedin   
            a(href="https://www.facebook.com/profile.php?id=100010187557300 " target="_blank") 
                i.bx.bxl-facebook
            a(href="https://www.linkedin.com/in/kevin-axel-118644253" target="_blank")
                i.bx.bxl-linkedin
            a(href="https://www.instagram.com/kevinaxel.n/" target="_blank" )
                i.bx.bxl-instagram


         
        //- script.
        //-     //- let navLinks = document.querySelectorAll("header nav a pilihan");
        //-     pilihan.onClick = addclass;
        //-     function addclass() {
        //-         console.log('aww tes');
        //-         pilihan.classList.add('aktif');
        //-     };


        //- <script src="app.js"></script>
        
        //-     nav
        //-         ul 
        //-             li.menu 
        //-                 a(href="/") Home 
        //-             li.menu  
        //-                 a(href="/about") About
        //-             li.menu  
        //-                 a(href="/contact") Contact
        //- block content